# Firebase Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_CLIENT_EMAIL=your-client-email

# nGenius Configuration
NGENIUS_API_KEY=your-api-key
NGENIUS_OUTLET_ID=your-outlet-id
NGENIUS_API_URL=your-api-url

# Other Configuration
PORT=3000
NODE_ENV=development
